{% extends "index.html" %}

{% block pagebody %}
{% include "navbar.html" %}
<div class="container">
    {% if error %}
    <div class="row">
        <div class="col-lg"></div>

        <div class="col-lg form-submitted-text">
            <h1>Errore, form non creato!</h1>
            <img src="/static/image/form_submit_error.svg" width="200" height="200">
        </div>

        <div class="col-lg"></div>

    </div>
    {% else %}

    <div class="row">
        <div class="col-lg"></div>

        <div class="col-lg form-submitted-text">
            <h1>Form Submitted!</h1>
            <img src="/static/image/form_submitted_success.svg" width="200" height="200">
        </div>

        <div class="col-lg"></div>

    </div>
    {% endif %}
    <a href="/">Torna alla home</a>
</div>
{% endblock %}