{% extends "index.html" %}

{% block pagebody %}
{% include "navbar.html" %}
<link rel="stylesheet" href="/static/styles/newForm.css">
<form onsubmit="return submitForm()" id="newForm">
    <div class="container" id="boxForm">
        <!--Title row-->
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="card shadowed-section">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <input name="title" class="form-control trasparent-input form-title" type="text"
                                       placeholder="Form senza titolo"
                                       required id="formTitle">
                            </div>
                            <div class="col-sm col-right">
                                <button type="button" class="color-button btn btn-rounded rounded-circle btn-tooltip"
                                        id="formColor" title="Cambia sfondo"><img
                                        src="/static/image/palette_black_24dp.svg">
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-10">
                                <input name="title" id="addUserInput" class="form-control trasparent-input"
                                       type="email"
                                       placeholder="Aggiungi l'email dell'utente">
                            </div>
                            <div class="col-sm col-right">
                                <a onclick="addUser()" class="btn btn-primary"> Aggiungi</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg error-email">
                                <p id="error"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <div class="card card-user">
                                    <div class="card-body" id="userList">
                                        <div class="row">
                                            <div class="col">
                                                <h5>Utenti che possono rispondere:</h5>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="chip">
                                                    <img src="/static/image/account_circle_black_24dp.svg" width="96"
                                                         height="96"> {{current_user.email}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        New Question
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" onclick="newQuestion(this.value)" value="text">Aperta
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="newQuestion(this.value)" value="single">Singola
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="newQuestion(this.value)" value="multi">Multipla
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="newQuestion(this.value)" value="date">date
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-lg"></div>
                <div class="col-sm-2 col-center-text">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <div class="col-lg"></div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    </div>


</form>
<script>
    for (let el of document.querySelectorAll('.dropdown-toggle')) {
        new bootstrap.Dropdown(el);
    }
</script>
<script src="/static/js/newForm.js"></script>
{% endblock %}
