{% extends "index.html" %}

{% block pagebody %}
{% include "navbar.html" %}
<div class="container">


    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="card section-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <h1>{{form.title}}</h1>
                        </div>
                        <div class="col-sm">
                            <p>By {{form.owner}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>


    {% for question in form.questionsRel %}
    <h3>Domanda #{{loop.index}}:</h3>
    <p>{{question.question}}</p>
    <p>{{question.__repr__()}}</p>
    {% endfor %}

    <form action="/q/{{form.id}}" method="post">
        <button type="submit">Simula submit</button>
    </form>
</div>
{% endblock %}
