{% block footer %}
<link rel="stylesheet" href="/static/styles/footer.css">

<br><br><br><br><br><br><br><br>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-3 item">
                    <h3>Members</h3>
                    <ul>
                        <li><a href="https://github.com/MChecchin">Checchin Matteo</a></li>
                        <li><a href="https://github.com/leon-204863">Fasolato Leonardo</a></li>
                        <li><a href="https://github.com/roveroniandrea">Roveroni Andrea</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Progetto Basi di Dati</h3>
                    <p>Questo progetto permette di creare form e di rispondere a form di altri utenti.</p>
                </div>
                <div class="col item social">
                    <br>
                    <br>
                    <a class="btn-tooltip" title="E' solo un'icona, ritenta"> <img class="icon-white" src="/static/image/instagram.svg"></a>
                    <a class="btn-tooltip" href="/easterEgg" title="Che la forza sia con te"> <img class="icon " src="/static/image/clone.svg"></a>
                    <a class="btn-tooltip" title="E' solo un'icona, ritenta"> <img class="icon-white" src="/static/image/youtube.svg"></a>
                    <a class="btn-tooltip" title="E' solo un'icona, ritenta"> <img class="icon-white" src="/static/image/twitter.svg"></a>
                    <a class="btn-tooltip" title="E' solo un'icona, ritenta"> <img class="icon-white" src="/static/image/facebook.svg"> </a>
                </div>
            </div>
            <p class="copyright">Progetto Basi di Dati © 2021</p>
        </div>
    </footer>
</div>


{% endblock %}