{% extends "index.html" %}

{% block pagebody %}
{% include "navbar.html" %}
<link rel="stylesheet" href="/static/styles/home.css">
<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1>Welcome back {{user.email}}!</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg">
            <a id="btn_newform" href="/new" class="btn btn-primary">Crea form</a>

        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="card forms-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <br>
                        <h4>Tuoi form:</h4>
                        <br>
                    </div>
                </div>
                <div class="row">
                    {% for form in my_forms %}
                    <div class="col-sm-3">
                        <div class="card form-card" onclick="location.href='/q/{{form.id}}'">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg">
                                        <h5 class="card-title">{{form.title}}</h5>
                                        <p class="card-text">Da: {{form.owner}}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <form action="/q/{{form.id}}/delete" method='post' onsubmit="return confirm('Eliminare definitivamente il form?')">
                                            <button type="submit" class="btn btn-delete-form rounded-circle btn-tooltip"
                                                    title="Cancella il form">
                                                <img src="/static/image/delete_outline_black_24dp.svg">
                                            </button>
                                        </form>
                                        <form action="/q/{{form.id}}/stats" method='get'>
                                            <button type="submit" class="btn btn-stats-form rounded-circle btn-tooltip"
                                                    title="Mostra le statistiche">
                                                <img src="/static/image/equalizer_black_24dp.svg">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row ">
        <div class="card forms-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg">
                        <br>
                        <h4>Form da rispondere:</h4>
                        <br>
                    </div>
                </div>
                <div class="row">
                    {% for form in unanswered_forms %}
                    <div class="col-sm-3">
                        <div class="card form-card" onclick="location.href='/q/{{form.id}}'">
                            <div class="card-body">
                                <h5 class="card-title">{{form.title}}</h5>
                                <p class="card-text">Da: {{form.owner}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="card forms-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg">
                        <br>
                        <h4>Form completati:</h4>
                        <br>
                    </div>
                </div>
                <div class="row">
                    {% for form in answered_forms %}
                    <div class="col-sm-3">
                        <div class="card form-card" onclick="location.href='/q/{{form.id}}'">
                            <div class="card-body">
                                <h5 class="card-title">{{form.title}}</h5>
                                <p class="card-text">Da: {{form.owner}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
