{% extends "index.html" %}

{% block pagebody %}
{% include "navbar.html" %}
<link rel="stylesheet" href="/static/styles/home.css">
<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1>Welcome back {{user.email}}!</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg">
            <a id="btn_newform" href="/new" class="btn button-blue">Crea form</a>

        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="card shadowed-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <br>
                        <h4>Tuoi form:</h4>
                        <br>
                    </div>
                </div>
                <div class="row">
                    {% for form in my_forms %}
                    <div class="col-sm-3">
                        <div class="card form-card" onclick="myFormsRedirect(event, '{{form.id}}')" data-accept-link>
                            <div class="card-body" data-accept-link>
                                <div class="row" data-accept-link>
                                    <div class="col-lg text-truncate" data-accept-link>
                                        <h5 class="card-title text-truncate" data-accept-link>{{form.title}}</h5>
                                        <p class="card-text text-truncate" data-accept-link>Da: {{form.owner}}</p>
                                        <p class="card-text" data-accept-link>Creato il: {{form.creation_date}}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group">
                                            <button type="button"
                                                    class="btn btn-rounded rounded-circle btn-tooltip dropdown-options"
                                                    title="Opzioni"
                                                    data-toggle="dropdown"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"><img
                                                    src="/static/image/more_vert_black_24dp.svg" alt="">
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="dropdown-item" type="button"
                                                            onclick="setModalAskUsers('{{form.id}}')"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#addFormVisibilityModal"
                                                            o>Aggiungi utenti
                                                    </button>
                                                </li>
                                                <li>
                                                    <form action="/q/{{form.id}}/delete" method='post'
                                                          onsubmit="return confirm('Eliminare definitivamente il form?')">
                                                        <button type="submit"
                                                                class="dropdown-item">Elimina form
                                                        </button>
                                                    </form>

                                                </li>
                                                <li>
                                                    <form action="/q/{{form.id}}/stats" method='get'>
                                                        <button type="submit"
                                                                class="btn dropdown-item">
                                                            Mostra le statistiche
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row ">
        <div class="card shadowed-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg">
                        <br>
                        <h4>Form da rispondere:</h4>
                        <br>
                    </div>
                </div>
                <div class="row">
                    {% for form in unanswered_forms %}
                    <div class="col-sm-3">
                        <div class="card form-card" onclick="location.href='/q/{{form.id}}'">
                            <div class="card-body text-truncate">
                                <h5 class="card-title text-truncate">{{form.title}}</h5>
                                <p class="card-text text-truncate">Da: {{form.owner}}</p>
                                <p class="card-text">Creato il: {{form.creation_date}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="card shadowed-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg">
                        <br>
                        <h4>Form completati:</h4>
                        <br>
                    </div>
                </div>
                <div class="row">
                    {% for form in answered_forms %}
                    <div class="col-sm-3">
                        <div class="card form-card" onclick="location.href='/q/{{form.id}}'">
                            <div class="card-body text-truncate">
                                <h5 class="card-title text-truncate">{{form.title}}</h5>
                                <p class="card-text text-truncate">Da: {{form.owner}}</p>
                                <p class="card-text">Creato il: {{form.creation_date}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "newForm/addUser.html" %}

<script>
    /**Checks if the user should be redirect to the form stats if has not clicked any button on the card*/
    function myFormsRedirect(event, formId) {
        if (event.target.hasAttribute('data-accept-link')) {
            location.href = `/q/${formId}`;
        }
    }

    new bootstrap.Dropdown(document.querySelector('.dropdown-options'));
</script>

{% endblock %}
