<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0-beta3-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.0.0-beta3-dist/js/bootstrap.js"></script>
    <script src="/static/bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.js"></script>
    <script src="/static/js/newForm.js"></script>
    <link rel="stylesheet" href="../static/styles/main.css">
    
    <title>Progetto Basi di dati</title>


</head>
<body>

{% block pagebody %}
{% endblock %}
</body>
</html>