
{% block navbar %}

<nav class="navbar navbar-light bg-light shadowed-nav p-3 mb-5  ">
  <div class="container-fluid navbar-div">
    <a class="navbar-brand" href="/">
      <img src="/static/image/outline_lock_black_24dp.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Progetto Basi
    </a>
    <span class="navbar-text">
      {% if current_user.is_authenticated %}

      <form method="post" action="/logout">
         <button type="submit" class="btn btn-outline-secondary">Sign out</button>
      </form>
      {% endif %}
    </span>
  </div>
</nav>

{% endblock %}