
{% block navbar %}

<nav class="navbar navbar-light bg-light shadow-sm p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/image/outline_lock_black_24dp.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Progetto Basi
    </a>
    <span class="navbar-text">
      {% if current_user.is_authenticated %}
        <a href="/logout" class="btn btn-primary">Sign out</a>
      {% endif %}
    </span>
  </div>
</nav>
{% endblock %}