.answer-section-title{
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}


.row-answer-form {
    padding-top: 20px;
}

.answer-section{
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.required-answer{
    color: red;
}

.col-answer-submit{
    padding-top: 20px;
    text-align: center;
}

