.row-stats-form{
    padding-top: 20px;
}

.csv-btn-shadowed{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.csv-btn-rounded {
    background-color: white;
    height: 65px;
    width: 65px;
    margin-top: 2px;
}


.csv-btn-rounded:hover {
    background-color: #eaeaea;
}