

/*Error text*/
#error {
    color: red;
}

/*Card login footer*/
.card-login-footer {
    background-color: #666666;
}

/*Login button*/
.btn-btn-login {
    border-color: white;
    color: white;
    align-self: center;
}
