.button-blue {
    color: #fff;
    padding: 12px 36px;
    font-weight: 600;
    border: none;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    margin: 2px;
    background-image: linear-gradient(to right, #09b3ef 0%, #1e50e2 51%, #09b3ef 100%);
    background-size: 200% auto;
    flex: 1 1 auto;
    text-decoration: none;

}

.button-blue:hover,
.button-blue:focus {
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

/*Error text*/
#error {
    color: red;
}

.card-auth-footer {
    background-color: #666666;
}

.shadowed-section {
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}


.trasparent-input {
    border: transparent;
}

.btn-shadowed{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-rounded {
    background-color: white;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.btn-rounded:hover {
    background-color: #eaeaea;
}

.col-right {
    text-align: right;
}

.col-center-text {
    padding-top: 20px;
    text-align: center;
}


