
.card-footer {
    background-color: #666666;
}

.progress{
    margin-top: 3px;
    height: 4px;
}

.bg-danger {
	width: 33%;
}

.bg-warning {
	width: 66%;
}

.bg-success {
    background-color: #12cd12 !important;
	width: 100%;
}

.btn-outline-info{
    border-color: white;
    color: white;
    align-self: center;
}

#error{
    color: red;
}

.navbar-div{
    min-height: 54px;
}

.form-card{
    cursor: pointer;
}
.form-card:hover{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}