/*---------------------------------------------------*/
/*login.html*/

/*Password metter*/
.progress {
    margin-top: 3px;
    height: 4px;
}

.bg-danger {
    width: 33%;
}

.bg-warning {
    width: 66%;
}

.bg-success {
    background-color: #12cd12 !important;
    width: 100%;
}

/*Error text*/
#error {
    color: red;
}

/*Card login footer*/
.card-login-footer {
    background-color: #666666;
}

/*Login button*/
.btn-btn-login {
    border-color: white;
    color: white;
    align-self: center;
}

/*---------------------------------------------------*/
/*navbar.html*/

.navbar-div {
    min-height: 54px;
}

.shadowed-nav {
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}


/*---------------------------------------------------*/
/*home.html*/

/*Forms Sections */
.form-card {
    border-radius: 30px;
    cursor: pointer;
}

.form-card:hover {
    border-color: #0D6EFD;
}

.forms-section {
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-delete-form{
    background-color: white;
    height: 50px;
    width: 50px;
}

.btn-delete-form:hover {
    background-color: #eaeaea;
}

/*---------------------------------------------------*/
/*newForm.html*/

/*Title*/
.newForm-section-title {
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

/*New form section*/
.newForm-section-question {
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-input-question {
    border: transparent;
}

.form-title {
    font-weight: bold;
    font-size: x-large;
}

.form-question {
    font-weight: bold;
    font-size: large;
}

/*Add questions*/
.row-form {
    padding-top: 20px;
}

/*Delete questions*/
.btn-delete-question{
    background-color: white;
    height: 50px;
    width: 50px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-delete-question:hover {
    background-color: #eaeaea;
}

/*Add option*/
.col-add-option {
    text-align: right;
}

.btn-add-option {
    background-color: white;
    height: 50px;
    width: 50px;
}

.btn-add-option:hover {
    background-color: #eaeaea;
}

.row-option {
    margin-top: 10px;
}

.radio-option {
    float: right !important;
    margin-top: 10px;
}

/*Delete Option*/
.btn-delete-option {
    background-color: white;
    height: 50px;
    width: 50px;
    margin-top: -10px;
}

.btn-delete-option:hover {
    background-color: #eaeaea;
}

/*Palette*/
.col-palette {
    text-align: right;
}

.btn-palette {
    background-color: white;
    height: 50px;
    width: 50px;
}

.btn-palette:hover {
    background-color: #eaeaea;
}

.col-form-submit{
    padding-top: 20px;
    text-align: center;
}

/*---------------------------------------------------*/
/*formSubmitted.html*/

.form-submitted-text{
    text-align: center;
}
/*---------------------------------------------------*/
/*answerForm.html*/
.answer-section-title{
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-answer-form {
    padding-top: 20px;
}

.answer-section{
    border-radius: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.required-answer{
    color: red;
}

.col-answer-submit{
    padding-top: 20px;
    text-align: center;
}

.btn-stats-form{
    background-color: white;
    height: 50px;
    width: 50px;
}

.btn-stats-form:hover {
    background-color: #eaeaea;
}