{% extends "index.html" %}
{% block pagebody %}
{% include "navbar.html" %}

<link rel="stylesheet" href="/static/styles/login.css">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div><!--col-4 vuota-->
        <div class="col-md-4">
            <div class="card text-center " id="card-login">
                <form action="/login" METHOD="post">
                    <div class="card-body">
                        <h2>Ciao!</h2>
                        <span>
                            Accedi qui o
                            <a href="/register"> crea un account</a>
                        </span>
                        <br>
                        <br>
                        <br>
                        <label class="label">Email</label>
                        <br>
                        <input name="email" class="form-control" type="email" placeholder="Email" required><br>
                        <label class="label">Password</label>
                        <br>
                        <input name="password" class="form-control" type="password"
                               placeholder="Password" required>
                        <br>
                        <br>
                        {% if error %}
                        <p id="error">{{error}}</p>
                        {% endif %}
                    </div>
                    <!--card-body-->
                    <div class="card-footer card-auth-footer">
                        <button type="submit" class="btn btn-outline-light">Login</button>
                    </div>
                    <!--card-body-->
                </form>
            </div>
            <!--card-->
        </div><!--col-4 input-->
        <div class="col-sm-4">
        </div><!--col-4 vuota-->
    </div><!--row-->
</div><!--container-->
{% endblock %}