{% extends "index.html" %}

{% block pagebody %}
{% include "navbar.html" %}
<script>
    function control_password() {
        let password = document.getElementById("first_password").value;
        let confirmed_password = document.getElementById("second_password").value;
        let card = document.getElementById("card-body");

        if (password === confirmed_password) {
            let form = document.getElementById("form-registration");
            form.submit();
        } else {
            let error_p = document.getElementById("error");
            if (!error_p) {
                error_p = document.createElement("p");
                let text = document.createTextNode("Le password non corrispondono");
                error_p.appendChild(text);
                error_p.id = "error";
                card.appendChild(error_p);
            }else{
                error_p.textContent="Le password non corrispondono";
            }
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div><!--col-4 vuota-->
        <div class="col-md-4">
            <div class="card text-center " id="card-login">
                <div class="card-body" id="card-body">
                    <form action="/register" method="post" id="form-registration">
                        <h2>Crea il tuo account!</h2><br><br>
                        <label class="label">Email</label><br>
                        <input name="email" class="form-control" type="email" placeholder="Email" required><br>
                        <label class="label">Password</label><br>
                        <input name="password" id="first_password" class="form-control" type="password"
                               placeholder="Password" required><br>
                        <label class="label">Conferma Password</label><br>
                        <input name="confirmed_password" id="second_password" class="form-control" type="password"
                               placeholder="Password" required><br><br>
                        {% if error %}
                        <p id="error">{{error}}</p>
                        {% endif %}
                    </form>
                </div>
                <!--card-body-->
                <div class="card-footer ">
                    <button onclick="control_password()" class="btn btn-outline-info">Sign Up</button>
                </div>
                <!--card-body-->
            </div>
            <!--card-->
        </div><!--col-4 input-->
        <div class="col-sm-4">
        </div><!--col-4 vuota-->
    </div><!--row-->
</div><!--container-->
{% endblock %}

